<% if !user_signed_in? %>
<style>
	body { 
		background: url("/bg.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	h1 {
		color: white;
		font-weight: bold;
	}
</style>

<div class="container-index row">
	<div class="col-sm-6">
		<h1>Welcome on TwitterClone</h1>
		<p class="text">
			Connect with your buddies. Chat with new friends.<br> 
			Share your adventures.<br>
			Just like a blog, but with less characters!
		</p>
	</div>
	<div class="col-sm-6">
		<div class="log-in panel">
			Log In
		</div>
		<div class="sign-up panel">
			Sign Up
		</div>
	</div>
	<div class="col-sm-12">
		<p class="footer-links">StevenTadros  CodingAcademy  2017</p>
	</div>
</div>
<% else %>
<script type="text/javascript">document.location = "/home"</script>
<% end %>