<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">
			HEADER
		</div>
	</div>
</div>		
<div class="row">
	<div class="col-xs-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Profile</p>
			</div>
		</div>
	</div>

	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Tweets</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum felis a tincidunt viverra. Vestibulum vel leo at massa ornare ornare vel quis turpis. Cras malesuada tempor tristique. Fusce efficitur lacus et elit accumsan mattis. Proin molestie nibh est, eget luctus neque venenatis a. Maecenas ac euismod purus, ac cursus odio. Vestibulum iaculis neque sed nibh bibendum auctor. Maecenas id lorem velit. Pellentesque volutpat erat et faucibus euismod. Aliquam sit amet euismod massa. Nullam molestie ligula tempor ligula dapibus dignissim. Ut mollis lectus sit amet libero pulvinar semper. Proin varius sed nisi sed rutrum. Nam vel tellus lacinia, facilisis odio ac, ultrices nibh. Curabitur sit amet neque pretium, eleifend magna sit amet, elementum enim. Aliquam malesuada nibh nisi, id aliquet enim scelerisque eu.

Sed sed nisi quis velit imperdiet eleifend at molestie justo. Phasellus a aliquam erat. Donec facilisis rhoncus lorem. Phasellus lacinia eros quam, vitae tempus sapien iaculis eu. Donec quis consequat mauris. Fusce iaculis vitae diam aliquet eleifend. Fusce malesuada viverra viverra. Nulla cursus lectus non dui pharetra feugiat. Morbi malesuada facilisis mi non faucibus.

Curabitur congue tortor nec erat feugiat dapibus. Quisque elementum augue vel erat molestie, vel iaculis nunc sodales. Aliquam arcu turpis, blandit vitae ullamcorper ut, eleifend vel nisi. Quisque feugiat nec libero in pellentesque. Duis vel purus vel odio viverra convallis. Phasellus a sem id orci vehicula consectetur. Maecenas hendrerit, nisi ornare laoreet fermentum, ex ex varius massa, non euismod leo diam sit amet arcu.

Vestibulum pharetra lorem augue, sed placerat quam mollis vitae. Nulla imperdiet ligula eleifend posuere iaculis. Maecenas nisi sapien, pretium a sem in, maximus tempus odio. Phasellus lacus sem, pharetra sed urna a, dignissim imperdiet urna. Nulla sodales lorem quam. Phasellus nec molestie quam. Ut tempus sapien justo, a tristique erat volutpat eget.

Nunc tristique massa tellus, ut dapibus erat malesuada hendrerit. Curabitur feugiat lacus vel ante placerat, vel lobortis risus varius. Aliquam eu orci nisi. Integer porta, leo et volutpat sollicitudin, sem mi sodales elit, eu cursus lectus sapien sit amet sapien. Aenean in augue sit amet augue consequat congue sed eu purus. Vestibulum ut purus posuere, bibendum velit at, interdum tellus. Suspendisse sed molestie est, eu convallis sapien. Etiam vel condimentum nulla. Quisque consectetur blandit nulla, eget tincidunt velit efficitur id. Proin leo tortor, fermentum sed lacus quis, elementum elementum risus. Donec a aliquet nibh. In vel risus tortor. Pellentesque tristique nibh at suscipit feugiat. Nulla accumsan felis ex, ut rhoncus libero lobortis id. Morbi quis tortor commodo, consectetur orci quis, facilisis neque</p>
			</div>
		</div>
	</div>

	<div class="col-xs-3">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Who to follow</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>trends</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- begin row 2 -->
<div class="row">
	<div class="col-xs-3 col-xs-offset-9">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>trends</p>
			</div>
		</div>
	</div>
</div>